.searchBar {
	font-family: arial, sans-serif;
  z-index: 301;
}
.logo {
  margin: 22px 18px 15px;
  height: 41px;
}
.logo .logoLink {
  height: 100%;
	display: inline-block;
	cursor: pointer;
}
.logo img {
  height: 100%;
}


