.searchBar {
	font-family: arial, sans-serif;
  width: 100%;
  display: inline-block;
  z-index: 301;
  /* position: fixed; */
  top: 0;
  background-color: #fff;
}
/* .searchBar::after {
  content: "";
  background: linear-gradient(to bottom, #fff, rgba(255,255,255,0));
  height: 15px;
  width: 100%;
  position: absolute;
  top: 100%;
  display: block;
  left: 0;
  -webkit-appearance: none;
} */
.startScreen {
	font-family: arial, sans-serif;
  /* position: relative; */
  /* height: calc(100vh - 90px); */
  /* min-height: 580px; */
  /* background: url("../public/img/startscreen/bg_search_box.png") no-repeat 30% 50%; */
}
@media (max-width: 1280px) {
  .startScreen {
    /* height: calc(100vh - 110px); */
  }
}
@media (min-width: 1440px) {
  .startScreen {
    /* background-position: 45% 50%; */
  }
}
@media (min-width: 1600px) {
  .startScreen {
    /* background-position: 48% 50%; */
  }
}
.startScreen .examples {
  /* display: none; */
}
.startScreen .wrapSB {
  position: static;
  padding: 0;
  height: auto;
}
.startScreen .logo {
  margin: 10px 16px;
  height: 51px;
}
.startScreen .header {
  /* position: absolute;
  width: 580px;
  height: 178px;
  top: 49%;
  bottom: 0;
  left: -16%;
  right: 0; */
  margin: auto;
  /* margin-top: -89px; */
}
@media (min-width: 1440px) {
  .startScreen .header {
    /* left: -40px; */
  }
}
@media (min-width: 1600px) {
  .startScreen .header {
    /* left: 0; */
  }
}
.startScreen .header input {
  /* width: 485px; */
}
.startScreen .header .boxSearch {
  display: block;
}
.boxSearch {
  display: none;
  position: absolute;
  width: 1240px;
  right: -450px;
  pointer-events: none;
}
.boxSearch:hover .boxType:after {
  animation: step-end;
}
.boxSearch * {
  box-sizing: border-box;
}
.boxSearch .boxType {
  pointer-events: all;
  position: relative;
  z-index: 2;
}
.boxSearch .boxType .listQuery {
  list-style: none;
  position: relative;
  z-index: 2;
}
.boxSearch .boxType a {
  font-size: 12px;
  color: #757575;
  line-height: 16px;
  text-decoration: underline;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 50%;
}
.boxSearch .boxType a:visited {
  color: #4b127f;
}
.boxSearch .boxType a:hover {
  color: #00c;
}
.boxSearch .boxType h2 {
  font-size: 36px;
  line-height: 1.35em;
  margin-bottom: 35px;
  color: transparent;
}
.boxSearch .boxType:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.boxSearch .boxType:hover:after {
  content: "";
  opacity: 1;
  transition: opacity 0.3s;
}
.boxSearch .boxRight {
  position: absolute;
  right: 25px;
  bottom: 110%;
  width: 372px;
  pointer-events: none;
}
.boxSearch .boxRight .boxType {
  padding: 0 0 20px 10px;
}
.boxSearch .boxBottom {
  pointer-events: none;
  padding-top: 115px;
}
.boxSearch .boxBottom .boxType {
  display: inline-block;
  width: 372px;
  padding: 0 0 20px 10px;
  margin: 0 percentage(0.016129032258065);
  float: left;
}
.boxSearch .boxBottom .boxType:last-child {
  margin: 0 0 0 percentage(0.016129032258065);
}
.boxSearch .soccerBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_soccer.png") no-repeat bottom right; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite 9s forwards;
}
.boxSearch .soccerBox h2 {
  /* background: url("../public/img/startscreen/title_soccer.png") no-repeat center left; */
}
.boxSearch .soccerBox .list-query a {
  width: 50%;
}
.boxSearch .newsBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_news.png") no-repeat bottom right; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite 9s forwards;
}
.boxSearch .newsBox h2 {
  /* background: url("../public/img/startscreen/title_news.png") no-repeat center left; */
}
.boxSearch .newsBox .list-query a {
  width: 50%;
}
.boxSearch .weatherBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_weather.png") no-repeat bottom right; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite 6s forwards;
}
.boxSearch .weatherBox h2 {
  /* background: url("../public/img/startscreen/title_weather.png") no-repeat center left; */
}
.boxSearch .movieBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_movie_schedule.png") no-repeat bottom right; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite 6s forwards;
}
.boxSearch .movieBox h2 {
  /* background: url("../public/img/startscreen/title_movie.png") no-repeat center left; */
}
.boxSearch .locationBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_location.png") no-repeat bottom right; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite 3s forwards;
}
.boxSearch .locationBox h2 {
  /* background: url("../public/img/startscreen/title_location.png") no-repeat center left; */
}
.boxSearch .shoppingBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_shopping.png") no-repeat bottom right; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite 3s forwards;
}
.boxSearch .shoppingBox h2 {
  /* background: url("../public/img/startscreen/title_shopping.png") no-repeat center left; */
}
.boxSearch .carBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_car_search.png") no-repeat bottom left; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite forwards;
  animation-delay: 0;
}
.boxSearch .carBox h2 {
  width: 150px;
  /* background: url("../public/img/startscreen/title_car_search.png") no-repeat center left; */
}
.boxSearch .watchMovieBox:after {
  content: "";
  /* background: url("../public/img/startscreen/bg_movie.png") no-repeat bottom left; */
  animation: banner 12s cubic-bezier(1, 0, 0, 1) infinite forwards;
  animation-delay: 0;
}
.boxSearch .watchMovieBox h2 {
  /* background: url("../public/img/startscreen/title_watch_movie.png") no-repeat center left; */
}
.startPH {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #90ee90;
  display: none;
}
.logo {
  margin: 22px 18px 15px;
  height: 41px;
}
.logo .logoLink {
  height: 100%;
	display: inline-block;
	cursor: pointer;
}
.logo img {
  height: 100%;
}
.hideText {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  font: 0;
  line-height: 0;
}
.testpanel {
  position: absolute;
  top: 0;
  right: 0;
}
/* .wrapSB {
  display: block;
  position: absolute;
  left: 175px;
  top: 20px;
} */
.examples {
  /* display: none !important; */
}
:global(.smallScreen) .boxSearch {
  right: -460px;
}
:global(.smallScreen) .boxSearch .boxRight {
  right: 75px;
}
:global(.smallScreen) .boxSearch .boxBottom .boxType {
  width: 330px;
}
@-moz-keyframes banner {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
}
@-webkit-keyframes banner {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
}
@-o-keyframes banner {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
}
@keyframes banner {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
}
