.item {
	font-family: 'Encode Sans', Arial, Helvetica, sans-serif;
  line-height: 24px;
  cursor: pointer;
}
.item:first-child .itemInner {
	border-top: 1px solid #dfe1e5;
}
.item b {
  color: #008000;
  font-weight: 400;
}
.item .itemInner {
	margin: 0 0 0 20px;
	padding: 2px 0;
}
.item .itemInner:first-child {
	padding-top: 0;
}
.item .itemInner.ccBrowser {
	margin: 0 20px;
}
.item[data-selected=true] {
	background-color: #eee;
}
